Source: haskell-web-routes-hsp
Priority: optional
Section: misc
Maintainer: Jeremy Shaw <jeremy@seereason.com>
Build-Depends: debhelper (>= 7.0),
               haskell-devscripts (>= 0.6.15+nmu7),
               hscolour,
               cdbs,
               ghc6 (>= 6.8),
               ghc6-prof,
               libghc6-hsp-prof,
               libghc6-hsx-prof,
               libghc6-web-routes-prof (>= 0.23),
               libghc6-text-prof
Build-Depends-Indep: ghc6-doc,
                     haddock,
                     libghc6-hsp-doc,
                     libghc6-hsx-doc,
                     haskell-web-routes-doc (>= 0.23),
                     libghc6-text-doc
Standards-Version: 3.8.1

Package: libghc6-web-routes-hsp-dev
Architecture: any
Section: haskell
Depends: ${haskell:Depends},
         ${misc:Depends}
Description: Adds XMLGenerator instance for RouteT monad
 .
 This package contains the normal library files.

Package: libghc6-web-routes-hsp-prof
Architecture: any
Section: haskell
Depends: ${haskell:Depends},
         ${misc:Depends},
         libghc6-web-routes-hsp-dev
Description: Adds XMLGenerator instance for RouteT monad
 .
 This package contains the libraries compiled with profiling enabled.

Package: haskell-web-routes-hsp-doc
Architecture: all
Section: doc
Depends: ${haskell:Depends},
         ${misc:Depends},
         ghc6-doc
Description: Adds XMLGenerator instance for RouteT monad
 .
 This package contains the documentation files.
