Source: haskell-web-routes-mtl
Priority: optional
Section: misc
Maintainer: Jeremy Shaw <jeremy@seereason.com>
Build-Depends: debhelper (>= 7.0),
               haskell-devscripts (>= 0.6.15+nmu7),
               hscolour,
               cdbs,
               ghc6 (>= 6.8),
               ghc6-prof,
               libghc6-mtl-prof,
               libghc6-web-routes-prof (>= 0.18)
Build-Depends-Indep: ghc6-doc,
                     haddock,
                     libghc6-mtl-doc,
                     haskell-web-routes-doc (>= 0.18)
Standards-Version: 3.8.1

Package: libghc6-web-routes-mtl-dev
Architecture: any
Section: haskell
Depends: ${haskell:Depends},
         ${misc:Depends}
Description: Extends web-routes with mtl-based MonadIO / MonadTrans RouteT instances
 .
 This package contains the normal library files.

Package: libghc6-web-routes-mtl-prof
Architecture: any
Section: haskell
Depends: ${haskell:Depends},
         ${misc:Depends},
         libghc6-web-routes-mtl-dev
Description: Extends web-routes with mtl-based MonadIO / MonadTrans RouteT instances
 .
 This package contains the libraries compiled with profiling enabled.

Package: haskell-web-routes-mtl-doc
Architecture: all
Section: doc
Depends: ${haskell:Depends},
         ${misc:Depends},
         ghc6-doc
Description: Extends web-routes with mtl-based MonadIO / MonadTrans RouteT instances
 .
 This package contains the documentation files.
